*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    /* font-family:; */
}
nav{
    padding: 20px 10%;
    height: 15vh;
}
nav ul{
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 5%;
    font-weight: 500;
}

/* Hero Section CSS */
main {
    display: flex;
    align-items: center
    }

.leftmain{
    width: 40%;
}
.leftmain h1{
    font-size: 67px;
}
.leftmain p{
    margin: 5% 0;
}

.leftmain button{
    padding: 15px 10;
    border: none;
    background-color: #3b855b;
    color: #ffffff;
    border-radius: 12px;
}

.rightmain{
    width: 60%;
}